
<div style="text-align:center">
  <h2 class="jumbotron bg-secondary text-white">Student Register</h2>
</div>
<div class="row">
  <div class="col-md-6">
    <app-student-reg></app-student-reg>
  </div>
  <div class="col-md-6">
    <app-student-list></app-student-list>
  </div>
</div>
<div class="col-md-12">
  ccccc
    <a class="btn btn-orange"routerLink="/courses" >Back</a>
</div>
<!-- <nav>
    <a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a>
    <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  </nav>
<router-outlet></router-outlet> -->
<!-- 
<nav>
    <a routerLink="/courses" routerLinkActive="active">Courses</a>
    <a routerLink="/heroes" routerLinkActive="active">ccc</a>
</nav>
   <router-outlet></router-outlet> -->